* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 45px;
  color:aliceblue;
  font-weight: 600;
  text-shadow: 2px 2px 2px black;
}

header {
  text-align: start;
  padding: 4px 10%;
  margin-bottom: 30px;
  background-color: rgb(65, 164, 230);
}

.app {
  background: url(../src/images/sunset.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  object-fit: cover;
}

.taskCard {
  width: 250px;
  padding: 10px 25px;
  margin: 10px 4% 10px 8%;
  background-color: rgb(202, 213, 221);
  border-radius: 5px;
}

.taskCardTitleInputArea {
  margin-bottom: 10px;
  width: 30%;
  cursor: pointer;
}

.taskCardTitleInput {
  width: 80px;
  font-size: 1.1rem;
  padding: 4px 6px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.taskAddInput {
  width: 100%;
  font-size: 1.3rem;
  padding: 10px 15px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.taskBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 16px 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(105, 108, 110);
}

.taskText {
  margin-left: 12px;
}
.taskTrashButton {
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

.taskCardsArea {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.addTaskCardButtonArea {
  margin-left: 1%;
  margin-top: 30px;
}

.addTaskCardButton {
  padding: 10px 18px;
  border-radius: 9999px;
  border: none;
  font-size: 30px;
  background-color: rgb(62, 248, 52);
  box-shadow: 4px 4px 12px 1px black;
  cursor: pointer;
  transition: all 0.3s;
}

.addTaskCardButton:hover {
  box-shadow: none;
  transform: translate(4px, 4px);
}

.tackCardTitleAndTaskCardDeleteButtonArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskCardDeleteButton {
  border: none;
  background-color: transparent;
  color: rgb(219, 92, 92);
  cursor: pointer;
  font-size: 24px;
  margin: 10px;
}

@media screen and (max-width:768px) {
  .app {
    background: url(../src/images/sunset.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-position-x: calc(30% + 100px);
  }
}